-r requirements.txt
coverage<5 # Lock as coverage 5 breaks hypothesis tests?
coveralls
flake8
flattentool>=0.14.0
hypothesis==3.52.3 # Lock as later versions have a problem with slow generation of data
libsass
pip-tools
pytest
pytest-cov<2.11 # Lock because version of coverage is locked
pytest-django
pytest-localserver
requests
selenium
sphinx
sphinx-rtd-theme
transifex-client