<p>
This web application is free software designed to help people check data published to the
Open Contracting Data Standard (OCDS).
</p>

<p>It is offered as service WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.</p>

<p>
If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy notice govern
Open Contracting Partnership's
relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.
</p>

<p>The term ‘Open Contracting Partnership’ or ‘us’ or ‘we’ refers to the owner of the website. You can contact us by email <a href="mailto:data@open-contracting.org">data@open-contracting.org</a></p>
<p>The site is operated by Open Data Services Co-operative Limited.</p>
<p>The term 'Open Data Services Co-operative Limited' refers to the operator of the website on behalf of the Open Contracting Partnership. Open Data Services Co-operative Limited's company registration number is 09506232. Their registered address is 1st Floor, Holyoake House, Hanover Street, Manchester, Greater Manchester, England, M60 0AS. Email: <a href="mailto:company@opendataservices.coop">company@opendataservices.coop</a></p>
