<p>
Open Contracting Partnership is committed to ensuring that your privacy is protected. This privacy notice sets out how we collect and process any personal data when you use this website.</p>

<p>We may change this notice from time to time by updating this page. This notice is effective from 24th May 2018.</p>

<p>Data controller:<br/>
Open Contracting Partnership, <a href="mailto:data@open-contracting.org">data@open-contracting.org</a>, who are based in the USA.
<br/>Contact us if would like a copy of the information held on you or if you believe that any information we are holding on you is incorrect or incomplete.
</p>
