{% load i18n %}
{% load cove_ocds %}
{# To change the sample size, change all occurrences of 100 in this file only. #}

<div class="modal {{className}}" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h5 class="modal-title">{{ modalTitle }}</h5>
      </div>
      <div class="modal-body">
        <p>
          {% if errorList|length > 100 %}
            {% blocktrans %}Showing the first 100 locations for this error.{% endblocktrans %}
          {% endif %}
        </p>
        <table class="table">
          <thead>
            <tr>
              {% if full_table %}
                <th>{% trans 'Value' %}</th>
                <th>{% trans 'Location' %}</th>
                {% if file_type != 'json' %}
                  <th>{% trans 'Spreadsheet Location' %}</th> 
                {% endif %}
              {% else %}
                {% if file_type == 'json' %}
                  <th>{% trans 'Location' %}</th>
                {% else %}
                  <th>{% trans 'Spreadsheet Location' %}</th>
                {% endif %}
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for item in errorList|slice:":100" %}
              <tr>
              {% if full_table %}
                <td> {{item.value}} </td>
                <td>
                  {% if item.line %}
                    <b>{% trans 'Path:' %}</b> {{item.path}}
                    <b>{% trans 'Line:' %}</b> {{item.line}}
                  {% else %}
                    {{ item.path }}
                  {% endif %}
                </td>
                {% if file_type != 'json' %}
                  <td> <strong>{% trans "Sheet:" %}</strong> {{item.sheet}} <strong>{% trans "Row:" %}</strong> {{item.row_number}} {% if item.header %} <strong>{% trans "Header:" %}</strong> {{item.header}} {% endif %} </td>
                {% endif %}
              {% else %}
                {% if file_type == 'json' %}
                  <td>{{item}}</td>
                {% else %}
                  <td> <strong>{% trans "Sheet:" %}</strong> {{item.sheet}} <strong>{% trans "Row:" %}</strong> {{item.row_number}} {% if item.header %} <strong>{% trans "Header:" %}</strong> {{item.header}} {% endif %} </td>
                {% endif %}
              {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
